body {
    background-color: #1a1a1a !important;
}

h3, h5, h6 {
    color: #383838;
}
.latest {
    color: white;
}


.nav-section {
    margin-left: 20rem;
}
.nav-section-1 {
    margin-right: 20rem;
}
.photos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
li a {
    text-decoration: none !important;
}
/* 
* {
    display: none !important;
} */