<header class="site-header">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mr-5" href="{% url 'home'%}">Gallery App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categories
                        </a>
                        <ul class="dropdown-menu" >
                            <div class="card dropdown-menu" style="width: 18rem;" aria-labelledby="navbarDropdown">
                                <ul class="list-group list-group-flush">
                                  <a href="{% url 'home'%}"><li class="list-group-item">All</li></a>
                                  {% for category in category %}
                                  <a href="{% url 'home'%}?q={{category.name}}"><li class="list-group-item">{{category.name}}</li></a>
                                  {% endfor %}
                                </ul>
                              </div>
                        </ul>
                      </li>
                     <li> <a class="btn btn-info" href="{% url 'add-photo'%}">Add Photo</a> </li> 
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ms-auto">
                    <button class="btn btn-info" href="#">Log In</button>
                </div>
            </div>
        </div>
    </nav>
</header>