{% extends 'base.html' %}
{% block content %}
<div class="photos mb-2">
    <div class="album">
        <h3 class="latest">LATEST ALBUM</h3>
    </div>
    <div class="search-photo">
        <form class="d-flex">
            <input class="form-control me-2" name="q" type="search" placeholder="Search by location ... "
                aria-label="Search">
        </form>
    </div>
</div>
<hr>

{% for photo in photos %}
<div class="col-md-3">
    <div class="card shadow mt-4">
        <img src="{{photo.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Category:</strong> {{photo.category.name}}</h5>
            <h5 class="card-text"><strong>Location:</strong> {{photo.location.name}}</h5>
            <div class="card-section">
                <div class="section">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#imageModal{{photo.id}}">
                        View
                    </button>
                </div>
                <div class="section-1">
                    <small class="text-muted">Posted: {{photo.date_posted | timesince}}</small>

                </div>
            </div>




            <!-- Modal -->
            <div class="modal fade" id="imageModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="card-section">
                                    <div class="section mb-2">
                                        <h5 class="card-title"><strong>Category:</strong> {{photo.category.name}}</h5>
                                        </div>
                                        <div class="section-1 mb-2">
                                            <h5 class="card-text"><strong>Location:</strong> {{photo.location.name}}</h5>
                                        </div>
                                    </div>
                                <h5 class="card-text"><strong>Description:</strong> {{photo.description}}</h5>
                                <small style="float: right;"><strong>Posted:</strong> <span  class="text-muted">{{photo.date_posted | timesince}}</span></small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}